# GDP Data Exploration

In [14]:
import AidUtilities as aid_utils
import AidUtilities.utilities as utils

In [15]:
from importlib import reload

In [20]:
reload(utils)

In [6]:
import pandas as pd

In [7]:
data_path = '/home/gsandoval/Documents/Classes/depaul/Korea/Data/'+\
            'WorldBank_GDP/LatinAmericaKorea_GDP_BySeries/LatAmKorea_GDP_Data.txt'
gdp_data = pd.read_csv(data_path, sep='\t', skipfooter=5)

/home/gsandoval/.local/lib/python3.10/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [9]:
gdp_data.head(2)

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,12.904163,...,6.998734,5.781744,6.052918,6.712704,5.156686,6.264566,5.231622,4.537879,5.111017,5.932404
1,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,...,11.650448,13.425592,13.711682,13.723112,12.925764,11.099008,11.199907,9.557799,8.967972,10.709978

In [10]:
gdp_data = utils.clean_col_names(gdp_data)

In [11]:
gdp_data.head(2)

,Series_Name,Series_Code,Country_Name,Country_Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,12.904163,...,6.998734,5.781744,6.052918,6.712704,5.156686,6.264566,5.231622,4.537879,5.111017,5.932404
1,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,...,11.650448,13.425592,13.711682,13.723112,12.925764,11.099008,11.199907,9.557799,8.967972,10.709978

In [83]:
def create_series_names(series_names, return_tuple=False):
    '''Designed to take in World Bank dataframe with multiple series(studies).
    Then ask for user input on what the new series name should be.
    If "quit" is entered as a value, the function exits and returns input values to that point.
    Args:
        series_names(pandas.series): expects a series of world bank series
        return_tuple(bool): 
            if True--returns a list of tuples. 
                the tuples contain (old_series_name, new_series_name)
            if False-- returns a list of strings that correspond to 
                the new name for each series
    Returns:
        List of either string elements of tuples.  The return object is based on return_tuple value.
    '''
    new_series_names = []
    for series in series_names:
        print(series)
        new_name = input('new name: ')
        if new_name == 'quit':
            return print(new_series_names)
        # return a list of tuples. 
        if return_tuple:
            new_series_names.append((old_series, new_name))
        else:
            new_series_names.append(new_name)
    return new_series_names

In [36]:
series_names = gdp_data.Series_Name.unique()
series_codes = gdp_data.Series_Code.unique()
print(len(series_codes))

51

In [ ]:
utils.create_series_names(series_names)

In [40]:
new_series_names = [
    'AggForestFish_PctGDP', 'GovtDebt_Total', 'CoalRents_PctGDP',
    'HealthExp_PctGDP', 'Cred2Private_PctGDP', 'GovtHealth_PctGDP',
    'ExportsGoodServices_PctGDP', 'FinalConsumpExp_PctGDP', 'ForeignInvstOutflow_PctGDP',
    'GDP_2015USD', 'GDP_LCU', 'GDP_PctGrowth', 'PerCapita_GDP_LCU',
    'PerCapita_GDP_USD', 'PerEmployed_GDP_2017PPP', 'EnergyUnit_GDP_PPP',
    'GovtConsumption_PctGDP', 'DomSavings_PctGDP', 'Savings_PctGDP',
    'ImportGoodService_PctGDP', 'Inflation_Pct', 'Manufacturing_PctGDP',
    'MerchTrade_PctGDP', 'Mineral_PctGDP', 'NatGas_PctGDP',
    'Lend(+)Borrow(-)_PctGDP', 'Remittance_PctGDP', 'RevenueExGrants_PctGDP',
    'StocksTraded_PctGDP', 'NatResourcRents_PctGDP', 'InServiceTrade_PctGDP',
    'BroadMoney_PctGDP', 'CurrentAcctBal_PctGDP', 'CreditByFin_PctGDP', 'CreditByBanks_PctGDP',
    'Expense_PctGDP', 'ForeignInvstInflow_PctGDP', 'ForestRents_PctGDP',
    'GDP_LCU', 'GDP_USD', 'PerCapita_GDP_2015USD', 'PerCapita_GDP_LCU',
    'GDPGrowth_Pct', 'EducExp_PctGDP', 'Industry_PctGDP',
    'Defense_PctGDP', 'OilRents_PctGDP', 'RnD_PctGDP',
    'Services_PctGDP', 'Trade_PctGDP', 'TaxRev_PctGDP']

In [41]:
print(len(new_series_names))
print(len(series_names))

51
51

In [52]:
# merge old series names with new seires names
series_pairs = [(a, b) for a, b in zip(series_names, new_series_names)]
print(len(series_pairs))

count = 0
for a, b, c in zip(series_codes, series_names, new_series_names):
    if count == 0:
        print(f'   {"Series Code":>11}\t{"Series Name": ^60}\t{"New Name": ^}')
    print(f'{count:<2}.{a:<11}\t{b: <60}\t{c: <}')
    count += 1

51
   Series Code	                        Series Name                         	New Name
0 .NV.AGR.TOTL.ZS	Agriculture, forestry, and fishing, value added (% of GDP)  	AggForestFish_PctGDP
1 .GC.DOD.TOTL.GD.ZS	Central government debt, total (% of GDP)                   	GovtDebt_Total
2 .NY.GDP.COAL.RT.ZS	Coal rents (% of GDP)                                       	CoalRents_PctGDP
3 .SH.XPD.CHEX.GD.ZS	Current health expenditure (% of GDP)                       	HealthExp_PctGDP
4 .FS.AST.PRVT.GD.ZS	Domestic credit to private sector (% of GDP)                	Cred2Private_PctGDP
5 .SH.XPD.GHED.GD.ZS	Domestic general government health expenditure (% of GDP)   	GovtHealth_PctGDP
6 .NE.EXP.GNFS.ZS	Exports of goods and services (% of GDP)                    	ExportsGoodServices_PctGDP
7 .NE.CON.TOTL.ZS	Final consumption expenditure (% of GDP)                    	FinalConsumpExp_PctGDP
8 .BM.KLT.DINV.WD.GD.ZS	Foreign direct investment, net outflows (% of GDP)          	ForeignInvstOutflow_PctGDP
9 .NY.GDP.MKTP.KD	GDP (constant 2015 US$)                                     	GDP_2015USD
10.NY.GDP.MKTP.CN	GDP (current LCU)                                           	GDP_LCU
11.NY.GDP.MKTP.KD.ZG	GDP growth (annual %)                                       	GDP_PctGrowth
12.NY.GDP.PCAP.KN	GDP per capita (constant LCU)                               	PerCapita_GDP_LCU
13.NY.GDP.PCAP.CD	GDP per capita (current US$)                                	PerCapita_GDP_USD
14.SL.GDP.PCAP.EM.KD	GDP per person employed (constant 2017 PPP $)               	PerEmployed_GDP_2017PPP
15.EG.GDP.PUSE.KO.PP	GDP per unit of energy use (PPP $ per kg of oil equivalent) 	EnergyUnit_GDP_PPP
16.NE.CON.GOVT.ZS	General government final consumption expenditure (% of GDP) 	GovtConsumption_PctGDP
17.NY.GDS.TOTL.ZS	Gross domestic savings (% of GDP)                           	DomSavings_PctGDP
18.NY.GNS.ICTR.ZS	Gross savings (% of GDP)                                    	Savings_PctGDP
19.NE.IMP.GNFS.ZS	Imports of goods and services (% of GDP)                    	ImportGoodService_PctGDP
20.NY.GDP.DEFL.KD.ZG	Inflation, GDP deflator (annual %)                          	Inflation_Pct
21.NV.IND.MANF.ZS	Manufacturing, value added (% of GDP)                       	Manufacturing_PctGDP
22.TG.VAL.TOTL.GD.ZS	Merchandise trade (% of GDP)                                	MerchTrade_PctGDP
23.NY.GDP.MINR.RT.ZS	Mineral rents (% of GDP)                                    	Mineral_PctGDP
24.NY.GDP.NGAS.RT.ZS	Natural gas rents (% of GDP)                                	NatGas_PctGDP
25.GC.NLD.TOTL.GD.ZS	Net lending (+) / net borrowing (-) (% of GDP)              	Lend(+)Borrow(-)_PctGDP
26.BX.TRF.PWKR.DT.GD.ZS	Personal remittances, received (% of GDP)                   	Remittance_PctGDP
27.GC.REV.XGRT.GD.ZS	Revenue, excluding grants (% of GDP)                        	RevenueExGrants_PctGDP
28.CM.MKT.TRAD.GD.ZS	Stocks traded, total value (% of GDP)                       	StocksTraded_PctGDP
29.NY.GDP.TOTL.RT.ZS	Total natural resources rents (% of GDP)                    	NatResourcRents_PctGDP
30.BG.GSR.NFSV.GD.ZS	Trade in services (% of GDP)                                	InServiceTrade_PctGDP
31.FM.LBL.BMNY.GD.ZS	Broad money (% of GDP)                                      	BroadMoney_PctGDP
32.BN.CAB.XOKA.GD.ZS	Current account balance (% of GDP)                          	CurrentAcctBal_PctGDP
33.FS.AST.DOMS.GD.ZS	Domestic credit provided by financial sector (% of GDP)     	CreditByFin_PctGDP
34.FD.AST.PRVT.GD.ZS	Domestic credit to private sector by banks (% of GDP)       	CreditByBanks_PctGDP
35.GC.XPN.TOTL.GD.ZS	Expense (% of GDP)                                          	Expense_PctGDP
36.BX.KLT.DINV.WD.GD.ZS	Foreign direct investment, net inflows (% of GDP)           	ForeignInvstInflow_PctGDP
37.NY.GDP.FRST.RT.ZS	Forest rents (% of GDP)                                     	ForestRents_PctGDP
38.NY.GDP.MKTP.KN	GDP (constant LCU)                                          	GDP_LCU
39.NY.GDP.MKTP.CD	GDP (current US$)                                           	GDP_USD
40.NY.GDP.PCAP.KD	GDP per capita (constant 2015 US$)                          	PerCapita_GDP_2015USD
41.NY.GDP.PCAP.CN	GDP per capita (current LCU)                                	PerCapita_GDP_LCU
42.NY.GDP.PCAP.KD.ZG	GDP per capita growth (annual %)                            	GDPGrowth_Pct
43.SE.XPD.TOTL.GD.ZS	Government expenditure on education, total (% of GDP)       	EducExp_PctGDP
44.NV.IND.TOTL.ZS	Industry (including construction), value added (% of GDP)   	Industry_PctGDP
45.MS.MIL.XPND.GD.ZS	Military expenditure (% of GDP)                             	Defense_PctGDP
46.NY.GDP.PETR.RT.ZS	Oil rents (% of GDP)                                        	OilRents_PctGDP
47.GB.XPD.RSDV.GD.ZS	Research and development expenditure (% of GDP)             	RnD_PctGDP
48.NV.SRV.TOTL.ZS	Services, value added (% of GDP)                            	Services_PctGDP
49.NE.TRD.GNFS.ZS	Trade (% of GDP)                                            	Trade_PctGDP
50.GC.TAX.TOTL.GD.ZS	Tax revenue (% of GDP)                                      	TaxRev_PctGDP

In [55]:
# this is to generate a csv file with codes
df_values = {'Series_Codes': series_codes, 'Series_Names': series_names, 'New_Series_Names': new_series_names}
series_names_ref = pd.DataFrame(df_values)

In [54]:
series_names_ref.to_csv('Series_Names_Reference.csv', sep=',', index=False)