# GDP Data Exploration

In [49]:
import AidUtilities as utils
import AidUtilities.utilities as utils

In [50]:
from importlib import reload

In [1]:
import pandas as pd

In [2]:
data_path = '/home/gsandoval/Documents/Classes/depaul/Korea/Data/'+\
            'WorldBank_GDP/LatinAmericaKorea_GDP_BySeries/LatAmKorea_GDP_Data.txt'
gdp_data = pd.read_csv(data_path, sep='\t', skipfooter=5)

/home/gsandoval/.local/lib/python3.10/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [3]:
gdp_data.head(20)

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,12.904163,...,6.998734,5.781744,6.052918,6.712704,5.156686,6.264566,5.231622,4.537879,5.111017,5.932404
1,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,...,11.650448,13.425592,13.711682,13.723112,12.925764,11.099008,11.199907,9.557799,8.967972,10.709978
2,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Bolivia,BOL,NaN,NaN,NaN,NaN,NaN,NaN,...,9.769586,9.812162,9.966979,9.740218,10.239494,11.171875,11.589336,11.481924,12.221758,14.022787
3,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Brazil,BRA,15.732400,15.077575,16.095622,14.952728,16.025741,16.173058,...,4.342034,4.168328,4.506886,4.325611,4.319149,4.891354,4.600592,4.420399,4.401763,5.905569
4,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Cayman Islands,CYM,NaN,NaN,NaN,NaN,NaN,NaN,...,0.329024,0.330634,0.340974,0.357975,0.378694,0.399459,0.418316,0.408844,0.409761,NaN
5,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Chile,CHL,10.504103,10.102275,9.201911,7.937608,8.560548,8.847345,...,3.671207,3.304781,3.381868,3.731748,3.638883,3.991872,3.980306,3.545664,3.610879,3.862609
6,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Colombia,COL,NaN,NaN,NaN,NaN,NaN,27.286404,...,6.091696,5.582687,5.392715,5.446957,5.980425,6.606412,6.389664,6.225710,6.392308,7.645058
7,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Costa Rica,CRI,26.352035,25.866242,25.826897,24.463895,24.569034,23.520426,...,5.599872,5.130842,4.783351,4.887884,4.749110,4.914356,4.699776,4.483828,4.317946,4.673697
8,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Ecuador,ECU,33.654860,34.035398,35.252903,34.195750,31.835857,31.313079,...,9.601117,8.642413,8.769343,9.126508,9.454851,9.519017,9.329259,8.949270,8.800531,9.803302
9,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,El Salvador,SLV,NaN,NaN,NaN,NaN,NaN,41.375382,...,7.330192,6.514356,5.613307,5.866872,5.529767,5.732154,5.393009,5.132769,4.867816,5.112481
10,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Guatemala,GTM,NaN,NaN,NaN,NaN,NaN,28.733764,...,11.258743,10.722750,10.356221,10.074483,9.967003,9.661395,9.696287,9.455205,9.434214,10.243420
11,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Guyana,GUY,23.577793,23.854363,23.459007,24.460670,21.952680,21.572414,...,25.683601,25.440008,25.647573,24.594087,25.443008,20.387241,22.757925,19.535794,17.595337,16.851179
12,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Honduras,HND,33.814986,35.261089,35.396518,34.410044,34.485777,36.439595,...,14.219656,13.566294,12.191128,12.538350,12.215978,12.049901,12.669768,11.610160,10.753650,12.117181
13,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Mexico,MEX,NaN,NaN,NaN,NaN,NaN,13.149231,...,3.088462,3.173925,3.138784,3.132089,3.191924,3.346464,3.381074,3.383800,3.393573,3.803642
14,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Nicaragua,NIC,NaN,NaN,NaN,NaN,NaN,NaN,...,18.884893,17.611574,16.490901,16.709024,16.109943,14.915330,14.996447,15.322196,15.427699,15.773436
15,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Panama,PAN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.229236,3.047510,2.944518,2.849876,2.786009,2.600518,2.384704,2.248462,2.186921,2.769708
16,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Paraguay,PRY,NaN,NaN,37.002728,38.197718,37.574827,36.708295,...,14.125020,10.371314,13.185186,12.098566,9.773175,11.041387,10.526743,10.252701,9.999861,11.033081
17,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Peru,PER,19.054518,19.156353,18.168163,17.083672,16.507469,16.076281,...,7.100110,6.725234,6.668310,6.804247,7.045644,6.935035,6.779760,6.863983,6.746180,7.509277
18,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Puerto Rico,PRI,9.693244,NaN,NaN,8.994686,7.453803,6.153045,...,0.792214,0.803822,0.826452,0.846399,0.826985,0.805661,0.818676,0.708150,0.685891,0.618005
19,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Uruguay,URY,NaN,NaN,NaN,NaN,NaN,NaN,...,8.829162,8.121772,7.616201,6.735462,6.131442,6.696500,5.345332,5.831528,6.452670,7.481413

In [55]:
reload(utils)

In [56]:
gdp_data = utils.clean_col_names(gdp_data)

In [57]:
gdp_data.head(2)

,Series_Name,Series_Code,Country_Name,Country_Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,12.904163,...,6.998734,5.781744,6.052918,6.712704,5.156686,6.264566,5.231622,4.537879,5.111017,5.932404
1,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,...,11.650448,13.425592,13.711682,13.723112,12.925764,11.099008,11.199907,9.557799,8.967972,10.709978

In [83]:
def create_series_names(series_names, return_tuple=False):
    '''Designed to take in World Bank dataframe with multiple series(studies).
    Then ask for user input on what the new series name should be.
    Args:
        series_names(pandas.series): expects a series of world bank series
        return_tuple(bool): if True--returns a list of tuples. 
                                the tuples contain (old_series_name, new_series_name)
                            if False-- returns a list of strings that correspond to 
                                the new name for each series'''
    new_series_names = []
    for series in series_names:
        print(series)
        new_name = input('new name: ')
        if new_name == 'quit':
            return print(new_series_names)
        # return a list of tuples. 
        if return_tuple:
            new_series_names.append((old_series, new_name))
        else:
            new_series_names.append(new_name)
    return new_series_names

In [76]:
series_names = gdp_data.Series_Name.unique()

In [86]:
#create_series_names(series_names[44:])

In [87]:
new_series_names = [
    'PctGDP_AggForestFish', 'GovtDebt_Total.', 'CoalRents_PctGDP',
    'HealthExp_PctGDP', 'Cred2Private_PctGDP', 'GovtHealth_PctGDP',
    'ExportsGoodServices_PctGDP', 'FinalConsumpExp_PctGDP', 'ForeignInvstOutflow_PctGDP',
    'GDP_2015USD', 'GDP_LCU', 'GDP_PctGrowth', 'PerCapita_GDP_LCU',
    'PerCapita_GDP_USD', 'PerEmployed_GDP_2017PPP', 'EnergyUnit_GDP_PPP',
    'GovtConsumption_PctGDP', 'DomSavings_PctGDP', 'Savings_PctGDP',
    'ImportGoodService_PctGDP', 'Inflation_Pct', 'Manufacturing_PctGDP',
    'MerchTrade_PctGDP', 'Mineral_PctGDP', 'NatGas_PctGDP',
    'Lend(+)Borrow(-)_PctGDP', 'Remittance_PctGDP', 'RevenueExGrants_PctGDP',
    'StocksTraded_PctGDP', 'NatResourcRents_PctGDP', 'InServiceTrade_PctGDP',
    'BroadMoney_PctGDP', 'CurrentAcctBal_PctGDP', 'CreditByFin_PctGDP', 'CreditByBanks_PctGDP',
    'Expense_PctGDP', 'ForeignInvstInflow_PctGDP', 'ForestRents_PctGDP',
    'GDP_LCU', 'GDP_USD', 'PerCapita_GDP_2015USD', 'PerCapita_GDP_LCU',
    'GDPGrowth_Pct', 'EducExp_PctGDP', 'Industry_PctGDP',
    'Defense_PctGDP', 'OilRents_PctGDP', 'RnD_PctGDP',
    'Services_PctGDP', 'Trade_PctGDP', 'TaxRev_PctGDP']

In [88]:
print(len(new_series_names))
print(len(series_names))

51
51

In [89]:
# Continue with cleaning and prepping the dataframe to create some plots.